@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
i{font-style: normal;}

#kurly{
    width: 640px;
    margin: 0 auto;
}
.title{
    text-align: center;
    margin-top: 20px;
}
.content{
    h2{
        text-align: center;
        margin-bottom: 50px;
        font-size: 28px;
        color: rgb(51, 51, 51);
        font-weight: 500;
        letter-spacing: -1px;
    }
    h4{
        border-bottom: 2px solid #222;
        padding-bottom: 10px;
        text-align: right;
        font-size: 11px;
        color: rgb(102, 102, 102);
        margin-bottom: 20px;
        span{
            font-size: 12px;
            i{
                color: #ee6a7b;
                margin-right: 5px;
            }
        }
    }
    .gap{
        display: flex;
        padding: 10px 20px;
        .label-box{
            width: 160px;
            span{
                color: #333;
                font-weight: bold;
                font-size: 14px;
                i{color: #ee6a7b;}
            }
        }
        .input-box{
            width: 440px;
            position: relative;
            .inputText{
                padding: 0px 11px 1px 15px;
                box-sizing: border-box;
                width: 70%;
                height: 46px;
                border: 1px solid rgb(221, 221, 221);;
                border-radius: 4px;
                &::placeholder{
                    font-size: 15px;
                    color: #bbb;
                }
                &:focus{
                    outline: 1px solid #666;
                    outline-offset: -1px;
                }
            }
            .conter-timer-box{
                position: absolute;
                right: 32%;
                top: 66%;
                font-size: 15px;
                color: red;       
            }
            #inputPhone1{margin-top: 10px;}
            img{vertical-align: middle;}
            .w120-btn{
                width: 120px;
                height: 46px;
                border: 1px solid #5f0080;
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 4px;
                background: #fff;
                cursor: pointer;
                color: #5f0080;
                font-size: 15px;
                //인증번호 버튼 비활성화
                &.phone{
                    border: 1px solid #ddd;
                    color: #ccc;
                }
                &.phoneOk-btn{
                    top: 55px;
                    border: 1px solid #5f0080;
                    color: #5f0080;
                }
            }
            p{
                font-size: 13px;
                color: #666;
                &.red{
                    color: #f03f40;
                }
                &.green{
                    color: #3bb922;
                }
            }
            .allAgreeDesc{
                display: block;
                font-size: 12px;
                color: #666;
                padding-left: 36px;
                margin-top: -5px;
            }
        }
        label{
            &:nth-child(1){margin: 0 auto 0 0;}
            &:nth-child(2){margin: 0 auto 0 auto;}
            &:nth-child(3){margin: 0 0 0 auto;}
            input[type='radio']{
                appearance: none;
                width: 24px;
                height: 24px;
                border: 1px solid #ddd;
                background: #fff;
                border-radius: 50%;
                display: inline-block;
                &:checked{border: 7px solid #5f0080}
            }
            span{
                margin: 10px;
                font-size: 14px;
                position: relative;
                top: -7px;
            }
        }
        .radio-box{
            width: 53%;
            display: flex;
        }
        .add-input-box{
            p{
                font-size: 12px;
                margin-top: 5px;
            }
        }
        #addInputBox{
            margin-top: 10px;
            padding: 0px 11px 1px 15px;
            box-sizing: border-box;
            width: 70%;
            height: 46px;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }
        .date-box{
            display: flex;
            width: 70%;
            height: 44px;
            border: 1px solid #ccc;
            background: #fff;
            padding: 0 25px;
            border-radius: 4px;
            li{
                height: 100%;
                padding: 0;
                input[type='text']{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    border: none;
                    &:focus{outline: 0;}
                    &::placeholder{
                        color: #666;
                        font-size: 14px;
                    }
                }
                span{
                    font-size: 14px;
                    color: #ccc;
                    position: relative;
                    top: 6px;
                }
            }
        }
    }
    hr{
        border: 0;
        width: 100%;
        margin: 20px 0;
        border-bottom: 1px solid #333;
    }
    .service{
        input[type='checkbox']{
            appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: url(../../public/img/checkbox.svg) no-repeat center center;
            background-size: 24px 24px;
            &:checked{
                background-image: url(../../public/img/checkbox_checked.svg);
            }
        }
        b{
            font-weight: normal;
            color: #999;
            margin-left: 5px;
        }
        .gap{
            height: auto;
            .label-box{
                height: auto;
                padding: 0 0 0 20px;
                margin: 0 auto auto 0;

            }
            .check-box{
                padding: 0;
                width: 100%;
                dl{
                    width: 100%;
                    dt{
                        label{
                            display: block;
                            width: 100%;
                            
                            span{
                                font-size: 18px;
                                color: #333;
                            }
                        }
                    }
                    dd{
                        margin: 10px 0;
                        position: relative;
                        font-size: 14px;
                        label{
                            position: relative;
                            display: block;
                            width: 100%;
                            z-index: 1;
                            span{
                                line-height: 24px;
                            }
                        }
                        >span{
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 2;
                            a{
                                color: #5f0080;
                                i{font-size: 12px;}
                                /* &::after{
                                    content: "";
                                    width: 12px;
                                    height: 12px;
                                    background: url(../../public/img/agree.svg);
                                } */
                            }
                        }
                        .sub-checkbox{
                            padding: 10px 0 0 34px;
                            div{
                                display: flex;
                                padding: 0 150px 0 0;
                                flex: row wrap;
                                label{
                                    width: 30%;
                                }
                                
                            }
                            p{
                                font-size: 12px;
                                color: #5f0080;
                                margin: 0 0 0 35px;
                                padding: 0 15px 0;
                                background: url(../../public/img/ico_sub_dot.svg) no-repeat 0 50%;
                            }

                        }
                    }
                }
            }
        }
    }
    .button-box{
        padding: 50px 0 200px 0;
        border-top: 1px solid rgb(247,247,247);
        text-align: center;
        button{
            width: 250px;
            height: 60px;
            background: #5f0080;
            border: 0;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                filter: brightness(120%);
            }
        }
    }
    .modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: rgba(0,0,0,0.4);
        display: flex;
        .container{
            width: 360px;
            background: #fff;
            margin: auto;
            border-radius: 10px;
            .content-box{
                border-bottom: 1px solid #eee;
                width: 100%;
                p{
                    font-weight: 500;
                    color: #333;
                    font-size: 16px;
                    text-align: center;
                    padding: 40px 30px;
                    
                }
            }
            .button-box{
                width: 100%;
                height: 80px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                .ok-btn{
                    width: 150px;
                    height: 45px;
                    color: #fff;
                    font-size: 14px;
                    border-radius: 3px;
                }
            }
        }
    }
}